body {
    margin: 0;
    padding: 0;
    font-family: 'Shippori Mincho', serif;
    font-size: 16px;
    line-height: 1.5;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a {
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
    transform: scale(1.3,1.3);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.page-header,
.page-hero,
.page-content,
.page-footer{
    /* min-width: 1280px; */
    width: 100%;
}

.page-header{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 16px 0 24px;
    background-color: #FFF;
}

.page-header__inner,
.page-content__inner{
    box-sizing: content-box;
}

.page-header{
    border-top: solid 4px #7f9913
}

.page-header__inner{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
}

.page-header .logo,
.page-footer .logo{
    width: 256px;
}

.sns-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sns-list__itmes{
    width: 32px;
}

.sns-list__itmes:not(:first-child){
    margin-left: 16px;
}

.page-header__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.global-nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.global-nav > .sns-list{
    margin-left: 64px;
}

.global-nav > .link-button{
    margin-left: 64px;
}

.link-button{
    display: table;
    width: 140px;
}

.menu-list{
    display: flex;
    flex-wrap: wrap;
}

.menu-list__item:not(:first-child){
    margin-left: 24px;
}

.menu-list a{
    color:  #000;
}

.page-heading__parent{
    margin: 88px auto 35px auto;
    text-align: center;
}

.page-heading__child{
    display: inline-block;
    border-bottom: solid 4px #7f9913;
}

.fuature-list{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 954px;
}

.fuature-list__item{
    max-width: 50%;
    margin: 0px 48px 73px 48px;
    text-align: center;
}

.fuature-list__item h3,
.fuature-list__item p{
    margin: 8px auto 0px auto;
    color:#000
}

.work-list{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 24px auto;
    padding: 24px;
    max-width: 1080px;
}

.work-list__item{
    max-width: 50%;
   padding: 16px;
}

.firstStr{
    display: inline-block;
    border-bottom: solid 2px #d8d8d8;
}

.firstStr::first-letter{
    border-bottom: solid 2px #7f9913;
}

.cost-list{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1080px;
}

.cost-list__item{
    max-width: 50%;
    margin: 0px 20px;
}

.voice-list__item{
    max-width: 800px;
    margin: 0 auto;
}

.voice-list__item{
    border: 2px solid #7f9913;
    border-radius: 8px;
    padding: 48px 24px;
    margin-bottom: 32px;
    display: flex;
}

.voice-list__item img{
    max-width: 94px;
    margin: 0 auto;
}

.page-block{
    max-width: 1080px;
    margin: 88px auto;
}

.page-block__item{
    margin: 40px auto;
}

.company-column{
    display: flex;
    max-width: 1080px;
    margin: 0px auto 161px auto;
}

.company-map{
    max-width: 50%;
}

.company-data__item{
    margin: 24px;
}

.page-footer__background{
    background: #E9F8AD;
}

.page-footer{
    max-width: 1080px;
    margin: 176px auto 43px auto;
}

.footer-data-address{
    margin: 8px auto 24px auto;
}

.footer-column{
    /* display: flex; */
    margin: 0 auto;
}

.footer-column__c{
    text-align: right;
}
@media all and (min-width: 480px) and (max-width: 768px) { 
    .page-heading__parent{
        color: #471006;
    }
}
 
@media all and (max-width: 480px) { 
    .page-heading__parent{
        color: #7f9913;
    }

    .fuature-list{
        flex-direction: column;
        height: 100%;
    }

    .fuature-list__item{
        margin: 0 auto 40px;
    }

    .fuature-list__item h3{
        font-size: 24px;
        margin: 16px 0 12px 0;
    }

    .work-list{
        flex-direction: column;
        height: 100%;
    }

    .work-list__item{
        max-width: 100%;
        margin: 0 auto 40px;
    }

    .work-list__item h3{
        font-size: 24px;
        margin: 16px 0 12px 0;
    }

    .cost-list{
        flex-direction: column;
        height: 100%;
    }

    .cost-list__item{
        max-width: 75%;
        margin: 0 auto 40px;
    }

    .cost-list__item h3{
        font-size: 24px;
        margin: 16px 0 12px 0;
    }

    .voice-list__item img{
        max-width: 25%;
        height: 100%;
    }

    .company-column{
        flex-direction: column-reverse;
        height: 100%;
    }

    .comapny-map iframe{
        max-width: 100%;
    }
    .global-nav{
        display: none;
    }
}